li {
  margin-left: 2rem;
  margin-bottom: 2rem;
}
ol.child_ol {
  position: relative;
  padding-left: 2rem;
  margin-left: 30px;
  margin-top: 10px;
}
.container {
  display: flex;
}
ol.child_ol ::before {
  content: '';
  height: 100%;
  width: 10px;
  border-bottom: 1px solid #000;
  border-left: 1px solid #000;
  position: absolute;
  bottom: 10px;
  left: -10px;
  z-index: -1;
}
.container:nth-child(even) {
  background: blanchedalmond;
}
